
@{
    ViewBag.Title = "Login";
}

<!doctype html>
<html>
<head>

    <title>Inicio de sesion</title>

</head>
<body>
    <div class="container">
    <div class="abs-center">
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="" alt="">
                        <div class="hover">
                            <h4>¿Eres nuevo?</h4>
                            <p>Contactanos para hacer uso de nuestros servicios.</p>
                            <a class="primary-btn" href="mailto:logpack2017@gmail.com">Contactar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 justify-content-center">
                    <div class="login_box_area">
                        <form class="row login_form needs-validation" id="loginForm" novalidate>
                            <h3>Inicio de sesión</h3>
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="cCorreo" name="cCorreo" placeholder="Usuario" onfocus="this.placeholder = ''" onblur="this.placeholder = 'USUARIO'">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="cContrasenia" name="cContrasenia" placeholder="Contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'CONTRASEÑA'">
                            </div>
                            <div class="col-md-12 form-group">
                                <button id="btnLogin" class="primary-btn">Iniciar sesión</button>
                            </div>
                            <div><a href="mailto:logpack2017@gmail.com">¿Olvidaste tu contraseña?</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
        </div>
        </div>
</body>
</html>

