@{
    ViewBag.Title = "Sucursales";
}
<br />
<br />
<br />
<div class="container">
    <br />
    <h3>Sucursales LOGPACK</h3>
    <br />
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="Matriz">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Sucursal Matriz Merida
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Calle 41 No.235 A por 14 y 16 Colonia Mayapán, Mérida Yucatán</strong> Tel. 9999226054 Atencion: Elsy May
                    <br />
                    Horarios Lunes-Viernes: 09:00 A.M 7:00 P.M
                    <br />
                    Horarios Sábado: 09:00 A.M 1:00 P.M
                    <br />
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3132.6525497053885!2d-89.59724945851698!3d20.977692187386566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5671223644b50b%3A0x8b998491c3ef3157!2sPaqueter%C3%ADa%20y%20Mensajer%C3%ADa%20Logpack!5e0!3m2!1ses-419!2smx!4v1620831206403!5m2!1ses-419!2smx" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Sucursal Cancun
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>SM 29 mz 10 lote 29 calle Mahahual #8 ente Av. palenque y Av la costa</strong> Tel. 998 386 1901 Atencion: Carlos Poot
                    <br />
                    Horarios Lunes-Viernes: 09:00 A.M 6:00 P.M
                    <br />
                    Horarios Sábado: 09:00 A.M 1:00 P.M
                    <br />
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.2007891420325!2d-86.84128047083878!3d21.1602305498009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2c0a98e788c3%3A0x4a204c20fecea288!2sPlaya%20Mahahual%20Pte.%2012%207%2C%2029%2C%2077508%20Canc%C3%BAn%2C%20Q.R.!5e0!3m2!1ses-419!2smx!4v1620831805533!5m2!1ses-419!2smx" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Sucursal Chetumal
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Av. Belice 355 entre laguna de bacalar e isla Cancún</strong> Tel. 983 154 55 57 Atencion: Alejandra Jimenez/ Carlos Castro
                    <br />
                    Horarios Lunes-Viernes: 10:00 A.M 6:00 P.M
                    <br />
                    Horarios Sábado: 10:00 A.M 2:00 P.M
                    <br />
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3783.2298166262412!2d-88.291093!3d18.518514!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5ba364eaba3675%3A0x368ca3f266cc383a!2sAv.%20Belice%2C%20Chetumal%2C%20Q.R.!5e0!3m2!1ses-419!2smx!4v1620832758146!5m2!1ses-419!2smx" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Sucursal Cozumel
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>CALLE 25 Sur entre avenida 50 y 8 Col. San Miguel I</strong> Tel. (987)872-68-33 Atencion: Vanessa May
                    <br />
                    Horarios Lunes-Viernes: 09:00 A.M 6:00 P.M
                    <br />
                    Horarios Sábado: Cerrado
                    <br />
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d934.3354270808251!2d-86.95360107083951!3d20.492213755382792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4e5762dc642c13%3A0x525566afecb7f5ef!2sCalle%2025%20Sur%2C%20San%20Miguel%20de%20Cozumel%2C%20Q.R.!5e0!3m2!1ses-419!2smx!4v1620833573232!5m2!1ses-419!2smx" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Sucursal Playa Del Carmen
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Av. C.T.M Mza. 257 Lote 8 Entre 10 y 15 Av. Col. Luis Donaldo Colosio</strong> Tel. (984)148-26-76 Y (984)147-47-22  Atencion: Jorge Cambranis
                    <br />
                    Horarios Lunes-Viernes: 09:00 A.M 7:00 P.M
                    <br />
                    Horarios Sábado: Cerrado
                    <br />
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d933.4398501311475!2d-87.06566690236906!3d20.63866157237868!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4e432a6f2555ab%3A0xdc9cdb374dc06382!2sMensajeria%20Y%20Paqueteria%20Mensypack%20Playa!5e0!3m2!1ses-419!2smx!4v1620834004762!5m2!1ses-419!2smx" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Sucursal Valladolid
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Calle 49 No. 222 X 48 Y 50 Barrio Sisal.</strong> Tel.(985)102- 1411  Atencion: Enrique Pérez
                    <br />
                    Horarios Lunes-Viernes: 09:00 A.M 06:00 P.M
                    <br />
                    Horarios Sábado: 09:00 A.M 02:00 P.M
                    <br />
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d933.1553123139036!2d-88.20780835411651!3d20.6849825380114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f510b20b28f7af3%3A0x7dd7edaa745a6cab!2sCalle%2049%20222%2C%20Sisal%2C%20Valladolid%2C%20Yuc.!5e0!3m2!1ses-419!2smx!4v1620835088434!5m2!1ses-419!2smx" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Sucursal Tizimin
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>CALLE 26 X 49A Y49B No. 333 COL. SAN JOSÉ NABALAM</strong> Tel. (986)103-25-67 Atencion: Alberto Marfil
                <br />
                Horarios Lunes-Viernes: 09:00 A.M 06:00 P.M
                <br />
                Horarios Sábado: 09:00 A.M 02:00 P.M
                <br />
                <br />
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7442.470812716521!2d-88.134747!3d21.143028000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f522b05f0dd52bf%3A0x91c83065033beaa5!2sCalle%2026%20333%2C%20San%20Jos%C3%A9%20Nahbalam%2C%2097700%20Tizim%C3%ADn%2C%20Yuc.!5e0!3m2!1ses-419!2smx!4v1620835538557!5m2!1ses-419!2smx" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>