@{
    ViewBag.Title = "Sistema de paqueteria";
}


<div class="jumbotron" style="">
    <br />
    <br />
    <br />
    <br />
    <img src="~/img/logo_plano.png" />
    <br />
    <br />
    <h3 class="lead">Servicio de entrega garantizada al siguiente día hábil dentro de la Península Yucateca y de 2 a 5 días hábiles dentro de la República Mexicana.</h3>
    <br />
    <br />
</div>

    <div class="row" style="background-color:white">
        <div class="col-md-4">
            <img src="~/img/oportuno_Mesa-de-trabajo-1.png" height="100" />
            <br />
            <br />
            <h2>Recoleccion a domicilio.</h2>
            <p>
                Solicite su recolección en cualquier de nuestras sucursales de 9:00 am a 4:00 P.M.
                En caso de pedir su recolección fuera de horario se tomará encuenta la disponibilidad.
            </p>
            <br />
            <p><a class="btn btn-default">Contactar &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/img/rastreo_Mesa-de-trabajo-1.png" height="100" />
            <br />
            <br />
            <h2>Guias de prepago</h2>
            <p>
                Contrate guías prepagadas y tendrá ahorro que le permitirá crecer.
                Ahorro en descuentos por volumen

                Acceso a nuestro sistema de guías electrónicas

                Recolección sin costo adicional.

            </p>
            <p><a class="btn btn-default">Contactar &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/img/seguro_2.png" height="100" />
            <br />
            <br />
            <h2>Guias por cobrar.</h2>
            <p>Usted puede solicitar que el pago de su envío se realice en el destino, debiendo ser de contado.</p>
            <br />
            <br />
            <p><a class="btn btn-default">Contactar &raquo;</a></p>
        </div>
    </div>
