@{
    ViewBag.Title = "Sistema de paqueteria";
}

<div class="jumbotron">
    <img src=""/>
    <h1>Paquetería LOGPACK</h1>
    <p class="lead">Servicio de entrega garantizada al siguiente día hábil dentro de la Península Yucateca y de 2 a 5 días hábiles dentro de la República Mexicana.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recoleccion a domicilio.</h2>
        <p>
            Solicite su recolección en cualquier de nuestras sucursales de 9:00 am a 4:00 P.M.
            En caso de pedir su recolección fuera de horario se tomará encuenta la disponibilidad.
        </p>
        <p><a class="btn btn-default">Contactar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Guias de prepago</h2>
        <p>
            Contrate guías prepagadas y tendrá ahorro que le permitirá crecer.
            Ahorro en descuentos por volumen

            Acceso a nuestro sistema de guías electrónicas

            Recolección sin costo adicional.

        </p>
        <p><a class="btn btn-default">Contactar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Guias por cobrar.</h2>
        <p>Usted puede solicitar que el pago de su envío se realice en el destino, debiendo ser de contado.</p>
        <p><a class="btn btn-default">Contactar &raquo;</a></p>
    </div>
</div>